.sign_up_container {
  width: 100%;
  overflow: hidden;
  height: auto;
  position: relative;
}
.sign_up_content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.sign_up_from {
  width: 100%;
  height: fit-content;
  border: 1px solid #1890ff;
  margin: 0 auto;
  padding: 15px 4px;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  margin-top: 70px;
}
.auth_logo {
  position: absolute;
  top: 0px;
}
.auth_logo > img {
  height: 100px;
  width: 100px;
}
.llll {
  position: relative;
}
.input {
  padding: 10px;
  border: 1px solid white;
  outline: none;
  background-color: transparent;
  color: white;
  display: block;
  width: 95%;
  margin: 0 auto;

  border-radius: 20px;
}
.form_submit {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 6px;
  color: white;
  margin-top: 10px;
  cursor: pointer;
  font-size: 19px;
  font-weight: 700;
  background: #1890ff;
}

@media screen and (max-width: 648px) {
  .sign_up_from {
    width: 90%;
    margin: 0 auto;
  }
  .sign_up_well_come_logo > img {
    width: 80%;
    margin: 0 auto;
  }
}
